<div class="carros">
  <div class="card-body bg-info">
    <h5>Filtros</h5>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-12">
          <label for="Marca">Marca do carro:</label>
          <input type="text" class="form-control" name="marca" id="marca" [(ngModel)]="seletor.nome_marca">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="Modelo">modelo:</label>
          <input type="text" class="form-control" name="modelo" id="modelo" [(ngModel)]="seletor.modelo">
        </div>
        <div class="col-md-3">
          <label for="Montadora">montadora:</label>
          <input type="text" class="form-control" name="montadora" id="montadora" [(ngModel)]="seletor.montadora">
        </div>
        <div class="col-md-3">
          <label for="Ano_inicial">ano_inicial:</label>
          <input type="number" class="form-control" name="ano_inicial" id="ano_incial" [(ngModel)]="seletor.ano_inicial">
        </div>
        <div class="col-md-3">
          <label for="ano_final">ano_final:</label>
          <input type="number" class="form-control" name="ano_final" [(ngModel)]="seletor.ano_final">
        </div>
        <div class="col-md-3">
          <label for="nome">&nbsp;</label>
          <button type="button" class="form-control btn btn-warning"
          (click)="limpar()">
            <i class="bi bi-trash"></i> Limpar
          </button>
        </div>
      </div>
        <div class="col-md-3">
          <label for="nome">&nbsp;</label>
          <button type="button" class="form-control btn btn-primary"
          (click)="pesquisar()" >
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>
    </form>
  </div>

<br><br>
<div>
<table class="table table-striped border">
  <thead>
    <tr>
      <th>Placa</th>
        <th>Modelo</th>
          <th>Nome da montadora</th>
            <th>Ano</th>
              <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let carros of carros">
      <td class="text-center">{{carros.placa}}</td>
      <td class="text-center">{{carros.modelo}}</td>
      <td class="text-center">{{carros.montadora.nome}}</td>
      <td class="text-center">{{carros.ano}}</td>
      <td class="text-center">{{carros.valor }}</td>
    </tr>
  </tbody>
</table>
</div>
    </div>

